


    <!-- Custom styles for this page -->
    <link href="/javascripts/vendortempfiles/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


<div id="layoutSidenav_content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-center mt-5 mb-5 text-gray-800">Payment History</h1>
               

                   
                    <div class="card shadow mb-4">
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Payment Id</th>
                                            <th>Vendor</th>
                                            <th>Time</th>
                                            <th>Amount</th>
                                            {{!-- <th>Pay now</th> 
                                             <th>View</th>
                                            <th>Edit</th>
                                            <th>Disable/Enable</th>
                                        </tr> --}}
                                    </thead>
                                   
                                    <tbody>
            {{#each requests}}
            {{#if this.paymentStatus}}
            
            <tr>
                <td>{{this.paymentId}}</td>
                <td><p>{{this.vendor}}</p> <p>{{this.vendorId}}</p> </td>
                <td>{{this.paidOn}} </td>
                <td>Rs. {{this.amount}}</td>
                 {{!-- <td><a href="/admin/payNow?vendorId={{this.vendorId}}&amount={{this.amount}}&requestId={{this.requestId}}" class="btn btn-info text-white">Pay now</a></td> --}}
                {{!-- <td><a href="/vendor/home/viewproducts/view/{{this.products._id}}" class=""><p class="text-primary fw-bold">VIEW</p></a></td>
                <td><a href="/vendor/home/viewproducts/edit/{{this.products._id}}"class=""><p class="text-success fw-bold">EDIT</p></a></td> --}}
                
               
               
               {{!-- <td><a href="/vendor/home/viewproducts/delete/{{this.products._id}}"class="" onclick="return confirm('Are you sure,you want to delete {{this.firstname}}?')">
               {{#if this.products.deleted}}
               <p class="text-primary fw-bold">ENABLE</p>
               {{else}}
               <p class="text-danger fw-bold">DISABLE</p>
               {{/if}}
               </a></td> --}}
               
            </tr>
            {{else}}
            {{/if}}
            
             {{/each}}
           
        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {{!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer> --}}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="layoutSidenav_content">
        <i class="fas fa-angle-up"></i>
    </a>

 
    

    <!-- Page level plugins -->
    <script src="/javascripts/vendortempfiles/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/javascripts/vendortempfiles/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/javascripts/vendortempfiles/js/demo/datatables-demo.js"></script>

