<!-- Custom styles for this page -->
<link href="/javascripts/vendortempfiles/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


<div id="layoutSidenav_content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h2 mb-5 mt-5 text-gray-800 text-center">ORDERS</h1>



        <div class="card shadow mb-4">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr><th>Order details</th>
                                            <th>Product Image</th>
                                          
                                            <th>Delivery Address</th>
                                          
                                            <th>Price</th>
                                            <th>Quantity</th>
                                           <th>Total</th>
                                           <th>Payment status</th>
                                           <th>Order Status</th>
                                           <th>Delivery Status</th>
                                            
                                           
                                            {{!-- <th>Delete</th> --}}
                                        </tr>
                                    </thead>
                                    {{!-- <tfoot>
                                        <tr>
                                            <th>ProductId</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            
                                            
                                            <th>View</th>
                                          
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot> --}}
                                    <tbody>
            {{#each orders}}
            
            <tr><td><p><span class="fw-bolder"> OrderId:</span>{{this.orders.productDetails.cartId}}</p>
            <span>{{this.orders.productDetails.brand}}</span>
            <p>{{this.orders.productDetails.title}}</p>
            <p><span class="fw-bolder"> OrderOn:</span>{{this.orders.time}}</p>
            </td>
                <td><img src="/images/productsImages/{{this.orders.productDetails.productId}}(1).jpg" alt=""></td>
                {{!-- <td><p class="fw-bolder">{{this.orders.productDetails.brand}}</p><p>{{this.orders.productDetails.title}}</p></td> --}}
                <td>
                <p class="m-0">{{this.firstname}}</p>
                <p class="m-0">{{this.orders.deliveryDetails.house}},{{this.orders.deliveryDetails.city}}</p>
                <p class="m-0">{{this.orders.deliveryDetails.state}},{{this.orders.deliveryDetails.pincode}}</p>
                <p class="m-0">{{this.orders.deliveryDetails.mobile}}</p>
                </td>
                
                <td> Rs.{{this.orders.productDetails.netprice}} </td>
                <td>{{this.orders.productDetails.quantity}}</td>
                <td>Rs.{{this.orders.productDetails.total}}</td>
                <td>{{this.orders.status}}</td>
                
                <td>{{#if this.orders.productDetails.cancelled}}
                <p class="text-danger">Order Cancelled</p>
                {{else}}
                    
                    {{#if this.orders.productDetails.shipped}}
                   
                    <p>Shipped</p>
                    {{else}}
                    <p>Confirmed</p>
                    
                    <a href="/vendor/shipOrder/{{this.orders.productDetails.cartId}}" class="btn btn-primary">Ship</a>
                    {{/if}}
                    {{/if}}
                </td>
                <td>
                    {{#if this.orders.productDetails.cancelled}}
                <p class="text-danger">Order Cancelled</p>
                {{else}}
                    {{#if this.orders.productDetails.delivered}}
                    <p>Delivered</p>
                    {{else}}
                    <a href="/vendor/deliverOrder/{{this.orders.productDetails.cartId}}" class="btn btn-success">Deliver</a>
                    {{/if}}
                    {{/if}}
                </td>
                {{!-- <td><a href="/vendor/viewOrders/orderedItems/{{this.orders.orderId}}" class=""><p class="text-primary fw-bold">VIEW</p></a></td> --}}
                {{!-- <td><a href="/vendor/home/viewproducts/delete/{{this.products._id}}"class="" onclick="return confirm('Are you sure,you want to delete {{this.firstname}}?')"><p class="text-danger fw-bold">DELETE</p></a></td> --}}
               
            </tr>
            
             {{/each}}
           
        </tbody>
                                </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
<footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Heel2toe</div>
                
            </div>
        </div>
    </footer>
</div>
<!-- End of Main Content -->

<!-- Footer -->
{{!-- <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer> --}}

<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>




<!-- Page level plugins -->
<script src="/javascripts/vendortempfiles/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/javascripts/vendortempfiles/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/javascripts/vendortempfiles/js/demo/datatables-demo.js"></script>