
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<div id="layoutSidenav_content">
    <main>
        <div class="container bg-light px-4">

            <ol class="breadcrumb mb-4 mt-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>
<p class="fs-1 fw-bolder text-center">Manage Vendors</p>
            <div class="card mb-4 mt-5">
                
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>UserId</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>View Orders</th>
                                {{!-- <th>View Cart</th> --}}
                                <th>Block User</th>
                                <th>Delete User</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each vendors}}
                            <tr>
                                <td>{{this._id}}</td>
                                <td>{{this.firstname}} {{this.lastname}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.gender}}</td>
                                <td></td>
                                <td><a href="/admin/viewVendors/vendorOrders/{{this._id}}" class="btn btn-success">ORDERS</a></td>
                                {{!-- <td><a href="" class="btn btn-info">CART</a></td> --}}
                                {{#if this.isActive}}

                                <td><a href="/admin/viewVendors/blockVendor/{{this._id}}"style="all:unset;cursor:pointer" class="text-primary fs-bolder ms-4">BLOCK</a>
                                </td>
                                {{else}}

                                <td><a href="/admin/viewVendors/unBlockVendor/{{this._id}}"
                                       style="all:unset;cursor:pointer" class="text-info">UNBLOCK</a></td>
                                {{/if}}
                                <td><a href="/admin/viewusers/deleteuser/{{this._id}}" class="btn btn-danger"
                                        onclick="return confirm('Are you sure,you want to delete {{this.firstname}}?')">DELETE</a>
                                </td>

                            </tr>
                            {{/each}}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Heel2toe</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{{!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script> --}}
{{!--
<script src="/javascripts/admintempfiles/js/scripts.js"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/javascripts/admintempfiles/js/datatables-simple-demo.js"></script>