
        <!-- ****** Top Discount Area End ****** -->
<link href="/stylesheets/css/responsive.css" rel="stylesheet">
        <!-- ****** Cart Area Start ****** -->
        <div class="cart_area section_padding_100 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="cart_area" class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>MRP</th>
                                        <th>Price</th>
                                        <th>Discount</th>
                                        <th>Size</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each cartDetails}}
                                    <tr>
                                        <td class="cart_product_img d-flex align-items-center">
                                            <a href="/shopping/view/{{this.cart.productId}}"><img src="/images/productsImages/{{this.cart.productId}}(1).jpg" alt="Product"></a>
                                            <h6>{{this.cart.title}}</h6>
                                        </td>
                                        <td class="price"><span>Rs. {{this.cart.price}}</span></td>
                                        <td><span>Rs. {{this.cart.netprice}}</span></td>
                                        <td class="price"><span>{{this.cart.discount}}%</span></td>
                                        <td class="price"><span>{{this.cart.size}}</span></td>
                                        <td class="qty">
                                            <div class="quantity">
                                                <a onclick="subCount('{{this.cart.cartId}}')"><span class="qty-minus" ><i class="fa fa-minus" aria-hidden="true"></i></span></a>
                                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="10" name="quantity" value="{{this.cart.quantity}}">
                                               <a onclick="addCount('{{this.cart.cartId}}')"> <span  class="qty-plus"><i class="fa fa-plus" aria-hidden="true"></i></span></a>
                                            </div>
                                        </td>
                                        <td class="total"><span>Rs. {{this.cart.total}}</span></td>
                                        {{!-- <td class="delete"><span> <a href="/cart/delete/{{this.cart.cartId}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span></td> --}}
                                        <td><button class="btn btn-danger" onclick="deleteItem('{{this.cart.cartId}}')"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                        <div class="cart-footer d-flex mt-30">
                            <div class="back-to-shop w-50">
                                <a href="/">Continue shopping</a>
                                 {{#if emptyCart}}
                            <p class="fs-4 fw-bolder text-danger mt-3">Cart is Empty !!! </p>
                            <p class="fs-4 fw-bolder text-danger ">
                                Please add some products.
                            </p>
                            {{/if}}
                            </div>
                            <div class="update-checkout w-50 text-right">
                                <a style="cursor:pointer" onclick="deleteAll()">clear cart</a>
                               
                                
                                
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="coupon-code-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Coupon code</h5>
                                <p>Enter your coupon code</p>
                            </div>
                            <form action="#">
                                <input type="search" name="search" placeholder="#569ab15">
                                <button type="submit">Apply</button>
                            </form>
                           
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                 
                    </div> 
                    <div class="col-12 col-lg-4">
                        <div class="cart-total-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Cart total</h5>
                                
                            </div>

                            <ul class="cart-total-chart">
                                <li><span>Total MRP</span> <span>Rs. {{cartDetails.cartPriceInfo.MRPtotal}}</span></li>
                                <li><span>Discount on MRP</span> <span>Rs. {{cartDetails.cartPriceInfo.discount}}</span></li>
                                <li><span><strong>Total Amount</strong></span> <span><strong>Rs. {{cartDetails.cartPriceInfo.sumtotal}}</strong></span></li>
                            </ul>
                            <a href="/checkout" class="btn karl-checkout-btn">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****** Cart Area End ****** -->

        
    </div>
    <!-- /.wrapper end -->


