{{!--
<!-- Favicon  -->
<link rel="icon" href="img/core-img/favicon.ico">

<!-- Core Style CSS -->
<link rel="stylesheet" href="css/core-style.css">
<link rel="stylesheet" href="style.css">

<!-- Responsive CSS -->
<link href="css/responsive.css" rel="stylesheet"> --}}



<!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
<style>
    input[type="radio"] {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: 1px solid grey;
        background-color: white;
        -webkit-appearance: none;
        /*to disable the default appearance of radio button*/
        -moz-appearance: none;
    }

    input[type="radio"]:focus {
        background-color: hotpink;
        outline: none;
        /*to remove the square border on focus*/
    }

    input[type="radio"]:checked {
        /*no need, if you don't disable default appearance*/
        background-color: white;
        border: 2px solid hotpink;
    }
</style>
<style>
    <style>@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

    div.stars {
        width: 270px;
        display: inline-block;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 20px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked~label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }


    input.star-5:checked~label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1:checked~label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }

    .rev-box {
        overflow: hidden;
        height: 0;
        width: 100%;
        transition: all .25s;
    }

    textarea.review {
        background: #222;
        border: none;
        width: 100%;
        max-width: 100%;
        height: 100px;
        padding: 10px;
        box-sizing: border-box;
        color: #EEE;
    }

    label.review {
        display: block;
        transition: opacity .25s;
    }

    input.star:checked~.rev-box {
        height: 125px;
        overflow: visible;
    }
</style>

{{!-- </style> --}}
{{!-- <div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb d-flex align-items-center">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Dresses</a></li>
                    <li class="breadcrumb-item active">Long Dress</li>
                </ol>
                <!-- btn -->
                <a href="#" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Category</a>
            </div>
        </div>
    </div>
</div> --}}
<!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->

<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
<section class="single_product_details_area section_padding_0_100 mt-5">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <img src="/images/productsImages/" alt="">

                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0"
                                style="background-image:url(/images/productsImages/{{product.products._id}}\(1\).jpg)">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1"
                                style="background-image: url(/images/productsImages/{{product.products._id}}\(2\).jpg);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2"
                                style="background-image: url(/images/productsImages/{{product.products._id}}\(3\).jpg);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3"
                                style="background-image: url(/images/productsImages/{{product.products._id}}\(4\).jpg);">
                            </li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="/images/productsImages/{{product.products._id}}(1).jpg">
                                    <img class="d-block w-100"
                                        src="/images/productsImages/{{product.products._id}}(1).jpg" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="/images/productsImages/{{product.products._id}}(2).jpg">
                                    <img class="d-block w-100"
                                        src="/images/productsImages/{{product.products._id}}(2).jpg" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="/images/productsImages/{{product.products._id}}(3).jpg">
                                    <img class="d-block w-100"
                                        src="/images/productsImages/{{product.products._id}}(3).jpg" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="/images/productsImages/{{product.products._id}}(4).jpg">
                                    <img class="d-block w-100"
                                        src="/images/productsImages/{{product.products._id}}(4).jpg" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="single_product_desc">

                    <h4 class="title mb-0"><a href="#"></a>{{product.products.brand}}</h4>

                    <h4 class="price text-secondary fw-light mt-1">{{product.products.title}}</h4>

                    <p class="available">Available: <span class="text-muted">In Stock</span></p>
                    {{#if avgRating.verypoor}}
                    <div class="single_product_ratings mb-15">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                    {{#if avgRating.poor}}
                    <div class="single_product_ratings mb-15">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                    {{#if avgRating.normal}}
                    <div class="single_product_ratings mb-15">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                    {{#if avgRating.good}}
                    <div class="single_product_ratings mb-15">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                    {{#if avgRating.verygood}}
                    <div class="single_product_ratings mb-15">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    {{/if}}
                    <hr>
                    <span class="fs-4 me-2 fw-bolder">Rs. {{product.products.netprice}}</span> <strike
                        class="price mt-1 fs-4 mb-0 me-2 text-secondary">Rs. {{product.products.price}}</strike><span
                        class="text-danger fs-4">{{product.products.discount}}% OFF</span>
                    <p class="text-success mt-1 fw-bolder">Inclusive of all taxes</p>
                    <form action="/shopping/viewProduct/{{product.products._id}}" method="post">

                        {{#if adult}}
                        <div class="col-md-8   mb-5">

                            <h6 class="mb-2 pb-1">SELECT SIZE (UK) </h6>
                            {{#if product.products.quantity.six}}
                            <div class="form-check form-check-inline me-0">
                                <input class=" form-check-input btn" type="radio" name="size"  id="femaleGender"
                                    value="six" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder " for="femaleGender">6</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline me-0">
                                <input class=" form-check-input btn" type="radio" name="size" disabled id="femaleGender"
                                    value="six" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder " for="femaleGender">6</label>
                            </div>
                            {{/if}}

                            {{#if product.products.quantity.seven}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class=" form-check-input " type="radio" name="size" id="maleGender"
                                    value="seven" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black"
                                    class="form-check-label fw-bolder" for="maleGender">7</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class=" form-check-input " type="radio" name="size" disabled id="maleGender"
                                    value="seven" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black"
                                    class="form-check-label fw-bolder" for="maleGender">7</label>
                            </div>
                            {{/if}}

                            {{#if product.products.quantity.eight}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class="form-check-input" type="radio" name="size" id="maleGender"
                                    value="eight" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">8</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class="form-check-input" type="radio" name="size" disabled id="maleGender"
                                    value="eight" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">8</label>
                            </div>
                            {{/if}}
                            {{#if product.products.quantity.nine}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class="form-check-input" type="radio" name="size" id="maleGender" value="nine" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">9</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class="form-check-input" type="radio" name="size" disabled id="maleGender"
                                    value="nine" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">9</label>
                            </div>
                            {{/if}}
                            {{#if product.products.quantity.ten}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class="form-check-input me-0" type="radio" name="size" id="maleGender"
                                    value="ten" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">10</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class="form-check-input me-0" type="radio" name="size" disabled id="maleGender"
                                    value="ten" />
                                <label style=" position: relative; left: -24px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">10</label>
                            </div>
                            {{/if}}
                            {{#if product.products.quantity.eleven}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class="form-check-input" type="radio" name="size" id="maleGender"
                                    value="eleven" />
                                <label style=" position: relative; left: -28px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">11</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input class="form-check-input" type="radio" name="size" disabled id="maleGender"
                                    value="eleven" />
                                <label style=" position: relative; left: -28px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">11</label>
                            </div>
                            {{/if}}
                        </div>
                        {{else}}
                        <div class="col-md-8   mb-5">

                            <h6 class="mb-2 pb-1">SELECT SIZE (UK) </h6>
                            {{#if product.products.quantity.threetofour}}
                            <div class="form-check form-check-inline me-0">
                                <input style="width: 50px;height:40px;" class=" form-check-input btn" type="radio"
                                    name="size" id="femaleGender" value="3-4" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder " for="femaleGender">3 - 4Y</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline me-0">
                                <input style="width: 50px;height:40px;" class=" form-check-input btn" type="radio"
                                 disabled   name="size" id="femaleGender" value="3-4" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder " for="femaleGender">3 - 4Y</label>
                            </div>
                            {{/if}}
                            {{#if product.products.quantity.fourtofive}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input style="width: 50px;height:40px;" class=" form-check-input " type="radio"
                                    name="size" id="maleGender" value="4-5" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black"
                                    class="form-check-label fw-bolder" for="maleGender">4 - 5Y</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input style="width: 50px;height:40px;" class=" form-check-input " type="radio"
                                disabled    name="size" id="maleGender" value="4-5" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black"
                                    class="form-check-label fw-bolder" for="maleGender">4 - 5Y</label>
                            </div>
                            {{/if}}
                            {{#if product.products.quantity.fivetosix}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input style="width: 50px;height:40px;" class="form-check-input" type="radio"
                                    name="size" id="maleGender" value="5-6" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">5 - 6Y</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 me-0">
                                <input style="width: 50px;height:40px;" class="form-check-input" type="radio"
                                disabled    name="size" id="maleGender" value="5-6" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">5 - 6Y</label>
                            </div>
                            {{/if}}
                            {{#if product.products.quantity.sixtoseven}}
                            <div class="form-check form-check-inline ms-0 mt-2 me-0">
                                <input style="width: 50px;height:40px;" class="form-check-input " type="radio"
                                    name="size" id="maleGender" value="6-7" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">6 - 7Y</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 mt-2 me-0">
                                <input style="width: 50px;height:40px;" class="form-check-input " type="radio"
                                disabled    name="size" id="maleGender" value="6-7" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">6 - 7Y</label>
                            </div>
                            {{/if}}
                            {{#if product.products.quantity.seventoeight}}
                            <div class="form-check form-check-inline ms-0 mt-2 me-0">
                                <input style="width: 50px;height:40px;" class="form-check-input me-0 " type="radio"
                                    name="size" id="maleGender" value="7-8" />
                                <label style=" position: relative; left: -44px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">7 - 8Y</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 mt-2 me-0">
                                <input style="width: 50px;height:40px;" class="form-check-input me-0 " type="radio"
                                disabled    name="size" id="maleGender" value="7-8" />
                                <label style=" position: relative; left: -44px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">7 - 8Y</label>
                            </div>
                            {{/if}}
                            {{#if product.products.quantity.eighttonine}}
                            <div class="form-check form-check-inline ms-0 mt-2 me-0">
                                <input style="width: 50px;height:40px;" class="form-check-input ms-1 " type="radio"
                                    name="size" id="maleGender" value="8-9" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">8 - 9Y</label>
                            </div>
                            {{else}}
                            <div class="form-check form-check-inline ms-0 mt-2 me-0">
                                <input style="width: 50px;height:40px;" class="form-check-input ms-1 " type="radio"
                                disabled    name="size" id="maleGender" value="8-9" />
                                <label style=" position: relative; left: -48px; font-size: 15px; color: black;"
                                    class="form-check-label fw-bolder" for="maleGender">8 - 9Y</label>
                            </div>
                            {{/if}}

                        </div>
                        {{/if}}


                        <!-- Add to Cart Form -->
                        <div class="cart clearfix mb-50 d-flex">


                            <input disabled="disabled"  type="submit" value="Add to Cart" class="btn cart-submit d-block"  >
                                
                            {{!-- <a style="padding-top: 1em;" href="/cart/{{product.products._id}}" class="f btn cart-submit d-block">Go to Cart</a> --}}
                        </div>
                    </form>

                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">Description</a>
                                </h6>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="text-dark fs-6">{{product.products.description}}</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
{{#if reviews}}
<section class="rateProducts container" >
    
    <p class="fs-3 text-center  mb-3">Customer Reviews</p>
    {{#each reviews}}
    <div class="card border p-3">

        <div class="text  ">
            <p class="float-end"> {{this.time}}</p>
        </div>
        <div class="text ms-3 d-flex">
            <i class="fa-solid fa-circle-user fs-1 text-info me-3"></i> <span
                class=" fw-bolder fs-5 mt-2 ">{{this.user}}</span>
        </div>
        <div class="text mt-2 mt-3 ">
            <span class="ms-4 fw-bolder fs-5 text-secondary ">{{this.rating}}</span><i
                class="fa-solid fa-star fs-5 text-warning mb-1"></i>
        </div>
        <div class="text mt-3">
            <span class="ms-4 fw-bold ">{{this.subject}}</span>
        </div>
        <div class="text mt-2">
            <span class="ms-4">{{this.review}}</span>
        </div>
    </div>
    {{/each}}
</section>
{{/if}}
{{#if userData}}
<section class=" rate container mb-5 ">
    <p class="fs-3 text-center mb-3">Ratings & Reviews</p>
    {{!-- <form action="/submit-reviews/{{product.products._id}}" method="post" id="submitReviews"> --}}
      <form  method="post" id="submitReviews">
        <div class="stars">

            <input class="star star-5" id="star-5" type="radio" required  value="5" name="star" />
            <input type="text" value="{{product.products._id}}" name="productId" hidden>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" value="4" name="star" />
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" value="3" name="star" />
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" value="2" name="star" />
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" value="1" name="star" />
            <label class="star star-1" for="star-1"></label>

        </div>
        <br>

        <label for="name">Review Title</label>
        <input type="text" class="form-control" name="subject" required>
        <br>
        Review:
        <textarea name="review" class="form-control" rows="5" required></textarea>
        <br>
        {{!-- <input type="submit" value="submit" class="btn btn-success"> --}}
        <input type="submit" value="submit" class="btn btn-success">
        {{#if cantRate}}
        <p class="mt-4 fw-bolder text-info">You must Buy this product to Rate ! ! !</p>
        {{/if}}
    </form>
</section>
{{/if}}

<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

<!-- ****** Quick View Modal Area Start ****** -->
<div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img src="/images/img/product-img/product-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">Boutique Silk Dress</h4>
                                    <div class="top_seller_product_rating mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="price">$120.99 <span>$130</span></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita
                                        quibusdam aspernatur, sapiente consectetur accusantium perspiciatis praesentium
                                        eligendi, in fugiat?</p>
                                    <a href="#">View Full Product Details</a>
                                </div>
                                <!-- Add to Cart Form -->
                                <form class="cart" method="post">
                                    <div class="quantity">
                                        <span class="qty-minus"
                                            onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                                class="fa fa-minus" aria-hidden="true"></i></span>

                                        <input type="number" class="qty-text" id="qty2" step="1" min="1" max="12"
                                            name="quantity" value="1">

                                        <span class="qty-plus"
                                            onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                                class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                    <button type="submit" name="addtocart" value="5" class="cart-submit">Add to
                                        cart</button>
                                    <!-- Wishlist -->
                                    <div class="modal_pro_wishlist">
                                        <a href="wishlist.html" target="_blank"><i class="ti-heart"></i></a>
                                    </div>
                                    <!-- Compare -->
                                    <div class="modal_pro_compare">
                                        <a href="compare.html" target="_blank"><i class="ti-stats-up"></i></a>
                                    </div>
                                </form>

                                <div class="share_wf mt-30">
                                    <p>Share With Friend</p>
                                    <div class="_icon">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ****** Quick View Modal Area End ****** -->

{{!-- <section class="you_may_like_area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading text-center">
                    <h2>related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="you_make_like_slider owl-carousel">

                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/public/images/productsImages/{{produc}}(1).jpg" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- Add to Cart -->
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                    </div>

                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/images/img/product-img/product-2.jpg" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- Add to Cart -->
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                    </div>

                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/images/img/product-img/product-3.jpg" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- Add to Cart -->
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                    </div>

                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/images/img/product-img/product-4.jpg" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- Add to Cart -->
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                    </div>

                    <!-- Single gallery Item -->
                    <div class="single_gallery_item">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="/images/img/product-img/product-5.jpg" alt="">
                            <div class="product-quicview">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <h4 class="product-price">$39.90</h4>
                            <p>Jeans midi cocktail dress</p>
                            <!-- Add to Cart -->
                            <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}



</div>
<!-- /.wrapper end -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/javascripts/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/javascripts/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/javascripts/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/javascripts/js/plugins.js"></script>
<!-- Active js -->
<script src="/javascripts/js/active.js"></script>
{{!--
<script>
    $('#submitReviews').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/submit-reviews',
            method: 'post',
            data: $('#submitReviews').serialize(),
            success: (response) => {
                if (response.status) {
                    window.location.reload()
                }
            }
        })
    })--}}
{{!-- </script> --}}
<script>
    $(function(){
    $("input[type='radio']").change(function(){

        $("input[type='submit']").prop("disabled", false);
        //Or
        //$("input[type='submit']").removeAttr("disabled");
    });
});



</script>
