

{{!-- asdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd --}}




    <!-- Custom styles for this page -->
    <link href="/javascripts/vendortempfiles/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">




                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 my-5 text-gray-800 text-center">MANAGE PRODUCTS</h1>
               

                   
                    <div class="card shadow mb-4">
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                      <th>Sr.no</th>
                                      <th>OrderId</th>
                                      <th>Mobile</th>
                                      <th>Address</th>
                                      <th>Ordered On</th>
                                      <th>Amount</th>
                                      
                                      <th>Delivery Status</th>
                                      <th>Status</th>
                                      <th>Actions</th>

                                    </tr>
                                    </thead>
                                    {{!-- <tfoot>
                                        <tr>
                                            <th>ProductId</th>
                                            <th>Title</th>
                                            <th>Category</th>
                                            <th>Brand</th>
                                            <th>Image</th>
                                            <th>View</th>
                                            <th>Edit</th>
                                            <th>Disable/Enable</th>
                                        </tr>
                                    </tfoot> --}}
                                    <tbody>
    {{#each orders}}
    <tr >
      <td><p class="py-5">{{@index}}</p></td>
      <td>
        <div class="d-flex align-items-center py-5">
          {{!-- <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              /> --}}
          <div class="">
            <p class="fw-bold mb-1">{{this.orderId}}</p>
            {{!-- <p class="text-muted mb-0">john.doe@gmail.com</p> --}}
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal py-5">{{this.deliveryDetails.mobile}}</p>
        {{!-- <p class="text-muted mb-0">IT department</p> --}}
      </td>
      {{!-- <td>
        <span class="badge badge-success rounded-pill d-inline ">Active</span>
      </td> --}}
      <td><p class="py-5">{{this.deliveryDetails.house}},{{this.deliveryDetails.city}},{{this.deliveryDetails.state}}</p></td>
      <td><p class="py-5">{{this.time}}</p></td>
      <td><p class="py-5">Rs.{{this.totalAmount}}</p></td>
      
      {{#if this.orderStatus}}
      <td><p class="py-5">{{this.orderStatus}}</p></td>
      {{else}}
      <td><p class="py-5">Confirmed</p></td>
      {{/if}}
      <td><p class="py-5">{{this.status}}</p></td>
      <td>
         <a href="/orderedItems/{{this.orderId}}" class="btn btn-warning btn-sm btn-rounded my-5"> View </a>
        
      </td>
    </tr>
    {{/each}}
    {{!-- <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/6.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">Alex Ray</p>
            <p class="text-muted mb-0">alex.ray@gmail.com</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Consultant</p>
        <p class="text-muted mb-0">Finance</p>
      </td>
      <td>
        <span class="badge badge-primary rounded-pill d-inline"
              >Onboarding</span
          >
      </td>
      <td>Junior</td>
      <td>
        <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                >
          Edit
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/7.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">Kate Hunington</p>
            <p class="text-muted mb-0">kate.hunington@gmail.com</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Designer</p>
        <p class="text-muted mb-0">UI/UX</p>
      </td>
      <td>
        <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
      </td>
      <td>Senior</td>
      <td>
        <button
                type="button"
                class="btn btn-link btn-rounded btn-sm fw-bold"
                data-mdb-ripple-color="dark"
                >
          Edit
        </button>
      </td>
    </tr> --}}
  </tbody>                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

 
    

    <!-- Page level plugins -->
    <script src="/javascripts/vendortempfiles/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/javascripts/vendortempfiles/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/javascripts/vendortempfiles/js/demo/datatables-demo.js"></script>

